# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# VSCode settings (optional)
.vscode/

# Environment variables (optional)
.env

# MacOS files
.DS_Store
